/***********************************************
***************** pop-up forside ***************/

body{
    background-image: url(..//images/g%C3%A5tur.jpg);
}

/***********************************************
***************** pop-up log ind ***************/
#popUpBackground {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popUpContent {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#popUpActions {
    background-color: #16293e;
    width: 100%;
    display: flex;
    justify-content: center;
}