

/***********************************************
***************** pop-up log ind ***************/
#popUpBackground {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popUpContent {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#popUpActions {
    background-color: #16293e;
    width: 100%;
    display: flex;
    justify-content: center;
}

/***********************************************
***************** deltage knap***************/
#deltag-knap {
    background-color: #ec9335;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding: 16px 31px;
	text-decoration: none;
    width: 140px;
    height: 42px;
    margin: 230px auto 21px auto;
}

#deltag-knap:active {
	position: relative;
	top: 1px;
    
}
/***********************************************
***************** pop-up forside ***************/

main{
    background-image: url(..//images/g%C3%A5tur.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
}

h1{
 color: white;
    text-align: center;
    padding-top: 100px;
}

#sponsor{
    display: flex;
}