/**
 * file: css/style.css
 **/
html,
body,
main{
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    color: #16293e;
}

nav{
color: black;
width: 100%;
height: auto;  

}

.nav-list{
width: 100%;
display: flex;
list-style-type: none;
justify-content: space-around;
align-items: center;

padding-left: 1px;


}

.nav-list a{
text-decoration: none;
font-weight:bold;
font-size: 15px;
color: black;
font-family: 'Montserrat';
}

#logoImg {
    margin-right: 300px;
}




footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #16293E;
    color: white;
    height: 300px;
    
    
}

#footerContent{
    display: flex;
    justify-content: space-around;
    width: 100%; 
    
    
}
.orangeFooter{
    color:  #ec9335;
}

#some{
    
    width: 80px;
    height: 50px;
    
}

#footerSome{
    display: flex;
    flex-direction: column;
   align-items: center;
    
}


#facebookText{
    width: 300px;
    text-align: center;
    
}

#deltagKnap{
    background-color:  #ec9335;
    color: white;
    padding: 10px 35px; 
    
}