/**
 * file: css/style.css
 **/

body {
    font-family: 'Montserrat';
    color: #16293e;
}

#heading {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2em;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5em;
}

.container2{
    display: flex;
    justify-content: center;
}

#navn {
    width: 130%;
}

#adresse {
    width: 130%;
}

button {
    border: none;
    width: 14em;
    height: 7em;
    background-color: #54595f;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3em;
}

button:hover{
    background-color: #16293e;
    color: #ec9335;
}

#btn1{
    margin-right: 3em;
}

#btn2{
    margin-right: 3em;
    
}

#btn3{
    margin-right: 3em;
    
}

.container3{
    font-size: 15px;
    justify-content: center;
    display: flex;
}

#text{
    margin-left: 1em;
}

a{
    text-decoration: none;
    color: #ec9335;
}

#btn{
    display: block;
    border: none;
    width: 10em;
    height: 3em;
    text-align: center;
    background-color: #ec9335;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

